#Search params for download
OUTPUT_DIR=./Landsat_Downloads #can be unnecessary if outputing to google drive
START_DATE=2025-11-10
END_DATE=2025-11-13
MAX_CLOUD_COVER=100
#season check
DRY_SEASON_MONTHS=1,2,3,4,5,6,7,8,8,10,11,12

#chirps start/end download + fnames
C_START=2016-1-1
C_END=2026-5-30
YEARLY_MAM=yearly_MAM_rainfall.csv
YEARLY_TOTAL=yearly_total_rainfall.csv

#bounding box used on both
BBOX_WEST=122.22
BBOX_SOUTH=16.696
BBOX_EAST=122.562
BBOX_NORTH=17.168

#google cloud project token
GEE_PROJECT=project-token
